@media screen and (max-width: 480px) {
  .hideInMobile{
  	display: none;
  }
}
@media screen and (min-width: 481px) {
  .hideInMobile{
  	display: block;
  }
}
@media screen and (min-width: 992px) {
  .hideInMobile{
  	display: block;
  }
}
@media screen and (min-width: 1240px) {
  .hideInMobile{
  	display: block;
  }
}
